
.button, .button-header, .button-trial, .button-sales-office{
  background-color: #0161ff;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.button{
  display: inline-block;
}

.button:hover, .button-header:hover, .button-trial:hover, .button-sales-office:hover{
  opacity: 0.9;
}

/* 
HEADER
*/

.button-header{
  display: inline;
}

/* 
/HEADER
*/

/* 
MAIN
*/

.button-trial{
  margin: 35px 0;
  text-align: center;
  display: block;
}

.button-sales-office{
  display: inline-block;
  text-align: center;
  width: 100%;
}

.button-partner{
  padding: 10px 20px;
  text-align: center;
  background-color: white;
  color: black;
  border: 1px solid black;
  text-decoration: none;
}

.button-clients{
  padding: 10px 20px;
  text-align: center;
  background-color: white;
  color: black;
  text-decoration: none;
}

.button-partner:hover, .button-clients:hover {
  background-color: rgb(204, 193, 193);
}


/* 
/MAIN
 */