*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.container{
  width: 70%;
  margin: 0 auto;
}

.container-footer{
  width: 90%;
  margin: 0 auto;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.padding10{
  padding:10px
}

.button-header{
  background-color: #0161ff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline;
}

.button{
  background-color: #0161ff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}

.button:hover, .button-header:hover{
  background-color: #3c85ff;
}


/* 
HEADER
 */
header{
  position: fixed;
  height: 100px;
  width: 100%;
  line-height: 100px;
  background-color: white;
  z-index: 999;
}

header a{
  display: inline-block;
  text-decoration: none;
  color: black;
}

header img{
  vertical-align: middle;
}

header ul li{
  display: inline-block;
  list-style: none;
  padding: 0 15px;
}

/* 
/HEADER
 */

/* 
JUMBOTRON
 */

.jumbotron{
  padding-top: 100px;
  height: auto;
  width: auto;
  background-color: #b4d0e7;
}

.container-jumbotron{
  padding-top: 90px;
  height: auto;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.jumbotron h1{
  font-size: 55px;
  padding-bottom: 50px;
}

.jumbotron a{
  margin-top: 30px;
  margin-bottom: 15px;
}

.jumbotron .fa-arrow-down{
  padding: 20px 0;
  font-size: 50px;
}

.jumbotron img{
  position: absolute;
  bottom:-10%;
  right:0%;
  width:70%;
  height:auto;
}

/* 
/JUMBOTRON
 */

/* 
MAIN
 */

main{
  padding-top: 50px;
  height: auto;
  width: 100%;
  background-color: white;
}

.plans-top{
  padding-top: 50px;
}

.plans-top h2{
  padding: 20px 0;
}

.plans-available{
  padding-top: 40px;
}

.plans-col-top, .plans-row-top{
  border: 1px solid grey;
  padding: 10px 10px;
  text-align: center;
}

.plans-available .col33:nth-child(1) {
  padding-right:20px;
}
.plans-available .col33:nth-child(2) {
  padding:0 20px;
}
.plans-available .col33:nth-child(3) {
  padding-left:20px;
}

.plans-col-content, .plans-row-content{
  padding: 30px 20px 0 20px;
  border-left:1px solid grey;
  border-right:1px solid grey;
  border-bottom:1px solid grey; ;
}


.plans-col-content a{
  display: inline-block;
  text-decoration: none;
  color: black;
}

.plans-col-content ul li{
  list-style: none;
  padding: 5px 0;
}

.price{
  padding: 10px 0;
}

.fa-check{
  color:#0161ff;
}
/* 
/MAIN
 */


/* 
FAQ
 */



/* 
/FAQ
 */


/* 
FOOTER
 */

footer{
  height: auto;
  width: 100%;
  background-color: black;
  color: white;
}

/* 
FOOTER/
 */