*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.container{
  width: 70%;
  margin: 0 auto;
}

.container-footer{
  width: 90%;
  margin: 0 auto;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.padding10{
  padding:10px
}

/* 
HEADER
 */
header{
  position: fixed;
  height: 100px;
  width: 100%;
  line-height: 100px;
  background-color: white;
  z-index: 999;
}

header a{
  display: inline-block;
  text-decoration: none;
  color: black;
}

header img{
  vertical-align: middle;
}

header ul li{
  display: inline-block;
  list-style: none;
  padding: 0 15px;
}

/* 
/HEADER
 */

/* 
JUMBOTRON
 */

.jumbotron{
  padding-top: 100px;
  height: auto;
  width: auto;
  background-color: #b4d0e7;
}

.container-jumbotron{
  padding-top: 90px;
  height: auto;
  width: 80%;
  margin: 0 auto -65px auto;
  /* position: relative; */
  bottom:-10%;
  max-width: 1500px;
}

.jumbotron h1{
  font-size: 55px;
  padding-bottom: 50px;
}

.jumbotron a{
  margin-top: 30px;
  margin-bottom: 15px;
}

.jumbotron .fa-arrow-down{
  padding: 20px 0;
  font-size: 50px;
}

.jumbotron img{
  width:80%;
  height:auto;
}

/* 
/JUMBOTRON
 */

/* 
MAIN
 */

main{
  padding-top: 50px;
  height: auto;
  width: 100%;
  background-color: white;
}

/* PLANS SECTION */

.plans-col{
  height: 950px;
  border:1px solid grey; ;
}

.plans-top{
  padding-top: 50px;
}

.plans-top h2{
  padding: 20px 0;
  font-size: 35px;
}

.plans-available{
  padding-top: 40px;
}

.plans-col-top, .plans-row-top{
  border-bottom: 1px solid grey;
  padding: 10px 10px;
  text-align: center;
}

.plans-available .col33-plans:nth-child(1) {
  margin-right:25px;
}
.plans-available .col33-plans:nth-child(2) {
  margin:0 5px;
}
.plans-available .col33-plans:nth-child(3) {
  margin-left:25px;
}

.plans-col-content, .plans-row-content{
  padding: 30px 20px 0 20px;
}

.plans-col-content ul li{
  list-style: none;
  padding: 10px 0;
}

.plans-col-content hr{
  color: grey;
  width: 60px;
  margin: 30px 0;
}

.price{
  padding: 10px 0;
}

.fa-check{
  color:#0161ff;
}

.color-grey{
  color: grey;
}

.plan-name{
  padding-bottom: 30px;
}

.buy-now{
  margin: 20px 0;
  display: block;
}

.col-full-width{
  margin-top: 40px;
  border: 1px solid grey;
}

.plans-row-content h3{
  padding-bottom: 15px;
}
.plans-row-content h4{
  padding-bottom: 40px;
}

.plans-row-content{
  padding-bottom: 20px;
}

/* /PLANS SECTION */

/* PARTNER SECTION */

.find-dropbox-partner {
  margin: 60px auto;
}
.find-dropbox-partner .col40{
  padding-left: 20px;
  padding-top: 40px;
}

.find-dropbox-partner .col40 h3,p{
  padding-bottom: 25px;
}

.find-dropbox-partner img{
  width: 100%;
  height: auto;
}



/* /PARTNER SECTION */

/* 
/MAIN
 */


/* 
FAQ
 */



/* 
/FAQ
 */


/* 
FOOTER
 */

footer{
  height: auto;
  width: 100%;
  padding-top: 90px;
  background-color: black;
  color: white;
}

footer h3{
padding-bottom: 20px;
}

footer a{
  text-decoration: none;
  color: white;
}

footer ul li{
  list-style: none;
  padding: 5px 0;
}

footer hr{
  color: white;
  width: 120px;
  margin: 70px 0 30px 0;
}

.footer-bottom {
  padding-bottom: 40px;
}

.footer-bottom a{
  color: grey;
}

/* 
FOOTER/
 */